Repository CodeHex16/documentazione, pull requests merged in 2024-12, with the labels that each got.

#77 struttura, linee guida, introduzione Piano di Progetto - to main; closes #63
  2 - RTB/source/Piano-di-Progetto.typ
Labels: Verifica, Piano di progetto

#88 Revisione introduzione e redazione Processi di accordo
  2 - RTB/source/Norme-di-Progetto.typ
Labels: Norme di progetto

#92 Diario di bordo 6; closes #87
  diari-di-bordo/6 Diario di bordo.pdf
Labels: Redazione

#93 fix versionamento Norme di Progetto
  2 - RTB/source/Norme-di-Progetto.typ
Labels: Hotfix

#89 Glossario link fix, e refactoring functions
  .github/workflows/compile-documents.yml
  README.md
  glossario/source/glossario.py
  template/documenti.typ
  template/glossario-template.typ
  template/lettera.typ
  template/utils.typ
  template/verbale.typ
Labels: Amministrazione, Glossario

#94 Update Analisi-dei-Requisiti.typ; closes #60
  2 - RTB/source/Analisi-dei-Requisiti.typ
Labels: Redazione, Analisi dei requisiti

#96 verbale interno 2024-12-04; closes #79; update Analisi-dei-Requisiti.typ; closes #59;
  2 - RTB/source/Analisi-dei-Requisiti.typ
  verbali/interni/source/2024-12-04_Coordinamento-Sprint-3.typ
Labels: Redazione, Verbali interni

#103 Aggiornamento Glossario close #56
  2 - RTB/source/Analisi-dei-Requisiti.typ
  2 - RTB/source/Norme-di-Progetto.typ
  glossario/source/glossario.typ
  verbali/esterni/source/2024-10-25_Incontro-Ergon.typ
  verbali/interni/source/2024-11-26_Coordinamento-Sprint-2.typ
  verbali/interni/source/2024-12-04_Coordinamento-Sprint-3.typ
Labels: Glossario

#112 rimzione termine "Esempio" e capitolo "E"
  glossario/source/glossario.typ
Labels: Hotfix

#114 correzione 2024-12-11_Incontro-chiarimenti-analisi-Ergon.typ
  verbali/esterni/source/2024-12-11_Incontro-chiarimenti-analisi-Ergon.typ
Labels: Hotfix

#119 Usecase lribon sprint3-4
  2 - RTB/source/Analisi-dei-Requisiti.typ
  glossario/source/glossario.typ
Labels: Analisi dei requisiti

#122 Sistemato refuso durata sprint 4 in 2024-12-11_Coordinamento-Sprint-4…
  verbali/interni/source/2024-12-11_Coordinamento-Sprint-4.typ
Labels: Redazione, Hotfix

#140 Aggiunta sezione analisi dei rischi
  2 - RTB/source/Piano-di-Progetto.typ
Labels: Redazione, Piano di progetto

#115 Merge degli use case dell'utente
  1 - candidatura/Lettera-di-candidatura.pdf
  1 - candidatura/Preventivo-Costi-e-Impegni.pdf
  1 - candidatura/Valutazione-Capitolati.pdf
  2 - RTB/Analisi-dei-Requisiti.pdf
  2 - RTB/Norme-di-Progetto.pdf
  2 - RTB/Piano-di-Progetto.pdf
  2 - RTB/Piano-di-Qualifica.pdf
  2 - RTB/imgs/UC1-Registrazione.png
  2 - RTB/imgs/UML.drawio
  2 - RTB/imgs/attori.png
  2 - RTB/imgs/uc1.1-uc1.2.png
  2 - RTB/imgs/uc2-registrazione_fallita.png
  2 - RTB/imgs/uc3-login.png
  2 - RTB/imgs/uc3.1-uc3.2-uc3.3.png
  2 - RTB/source/Analisi-dei-Requisiti.typ
  2 - RTB/source/Utenti use case.txt
  glossario/glossario.pdf
  glossario/source/glossario.typ
  verbali/esterni/2024-12-11_Incontro-chiarimenti-analisi-Ergon.pdf
  verbali/interni/2024-10-21_Incontro-Iniziale.pdf
  verbali/interni/2024-10-22_Discussione-Capitolati.pdf
  verbali/interni/2024-10-28_Revisione-documenti.pdf
  verbali/interni/2024-10-31_Lettera-e-Revisione-finale.pdf
  verbali/interni/2024-11-04_Correzione-candidatura.pdf
  verbali/interni/2024-11-08_Discussione-aggiudicazione.pdf
  verbali/interni/2024-11-11_Discussione-Requisiti.pdf
  verbali/interni/2024-11-12_Inizio-stesura-documenti-RTB.pdf
  verbali/interni/2024-11-19_Scelte-organizzative-e-coordinamento.pdf
  verbali/interni/2024-11-26_Coordinamento-Sprint-2.pdf
  verbali/interni/2024-12-04_Coordinamento-Sprint-3.pdf
  verbali/interni/2024-12-11_Coordinamento-Sprint-4.pdf
Labels: Redazione, Analisi dei requisiti
