Repository CodeHex16/documentazione, pull requests merged in 2025-02, with the labels that each got.

#199 Requisiti funzionali
  2 - RTB/imgs/attori.png
  2 - RTB/source/Analisi-dei-Requisiti.typ
Labels: Redazione, Analisi dei requisiti

#200 feat: aggiunto use case aggiunta faq; fix: typo;
  2 - RTB/source/Analisi-dei-Requisiti.typ
Labels: Analisi dei requisiti, Hotfix

#201 fix: ruoli e verificatore ultima versione;
  2 - RTB/source/Analisi-dei-Requisiti.typ
Labels: Analisi dei requisiti, Hotfix

#203 fix: nome sorgente verbale;
  verbali/esterni/source/2025-01-13_Incontro-Ergon-analisi-poc-chiarimenti.typ
Labels: Verbali esterni, Hotfix

#248 fix typo parethesis
  template/documenti.typ
Labels: Hotfix

#255 Aggiunta grafici AdR; closes #243 #256
  2 - RTB/imgs/UML.drawio
  2 - RTB/imgs/aggiunta-account-cliente.png
  2 - RTB/imgs/aggiunta-faq.png
  2 - RTB/imgs/attori.png
  2 - RTB/imgs/cambio-password.png
  2 - RTB/imgs/eliminazione-account-cliente.png
  2 - RTB/imgs/eliminazione-chat.png
  2 - RTB/imgs/eliminazione-documento-aziendale.png
  2 - RTB/imgs/eliminazione-faq.png
  2 - RTB/imgs/filtri-statistiche.png
  2 - RTB/imgs/impostazioni-fornitore.png
  2 - RTB/imgs/inserimento-documenti-aziendali.png
  2 - RTB/imgs/inserimento-email-password.png
  2 - RTB/imgs/invio-messaggio.png
  2 - RTB/imgs/lista-chat.png
  2 - RTB/imgs/login-cliente.png
  2 - RTB/imgs/login-fornitore.png
  2 - RTB/imgs/logout.png
  2 - RTB/imgs/modifica-faq.png
  2 - RTB/imgs/modifica-password.png
  2 - RTB/imgs/modifica-titolo-chat.png
  2 - RTB/imgs/recupero-password.png
  2 - RTB/imgs/ricezione-valutazione-risposta.png
  2 - RTB/imgs/scrittura-messaggio.png
  2 - RTB/imgs/selezione-dark-light.png
  2 - RTB/imgs/selezione-palette.png
  2 - RTB/imgs/visualizzazione-documenti-aziendali.png
  2 - RTB/imgs/visualizzazione-faq.png
  2 - RTB/source/Analisi-dei-Requisiti.typ
Labels: Redazione, Analisi dei requisiti
