Repository CodeHex16/documentazione, pull requests merged in 2025-01, with the labels that each got.

#139 verbale interno 24 dic 2024
  glossario/source/glossario.py
  glossario/source/glossario.typ
  template/verbale.typ
  verbali/interni/source/2024-12-24_Coordinamento-Sprint-5.typ
Labels: Redazione, Verbali interni

#146 Usecase lribon sprint5; closes #126 #128
  2 - RTB/source/Analisi-dei-Requisiti.typ
Labels: Analisi dei requisiti

#168 Verifica piano di qualita ver 0.1.0
  2 - RTB/source/Piano-di-Qualifica.typ
Labels: Piano di qualifica

#167 Aggiunta pull request check sul compilazione del file .typ
  .github/workflows/pr-typst-compile-check.yml
Labels: Verifica

#174 correzione contenuti; refactoring; sezione Sviluppo; closes #153 #154
  2 - RTB/source/Norme-di-Progetto.typ
Labels: Redazione, Norme di progetto

#175 Add Pull Request sign check before be merged
  .github/workflows/pr-sign-check.yml
Labels: Verifica
