Repository CodeHex16/documentazione, pull requests merged in 2025-03, with the labels that each got.

#254 Sezione Automiglioramento - PdQ; closes #241;
  2 - RTB/source/Piano-di-Qualifica.typ
Labels: Piano di qualifica

#278 fix: definizione supplai tagliata;
  .gitignore
  glossario/source/glossario.typ
Labels: Hotfix, Glossario

#279 fix: definizione supplai tagliata;
  glossario/source/glossario.typ
Labels: Hotfix, Glossario

#277 Lettera-RTB + correzione verbale sprint 8; closes #242
  1 - candidatura/source/Lettera-di-candidatura.typ
  2 - RTB/source/Lettera-di-Presentazione.typ
  2 - RTB/verbali/interni/source/2025-02-14_Coordinamento-Sprint-8.typ
  template/lettera.typ
Labels: Redazione

#265 Sezione metodologie di testing; indentazione newline; closes #257 closes #264;
  2 - RTB/source/Piano-di-Qualifica.typ
  template/documenti.typ
Labels: Piano di qualifica

#281 Piano di progetto lribon sprint8; closes #215 closes #238 closes #239 closes #272;
  2 - RTB/imgs/sprint8-grafico.png
  2 - RTB/imgs/sprint8-tabella.png
  2 - RTB/source/Piano-di-Progetto.typ
  2 - RTB/source/Piano-di-Qualifica.typ
Labels: Piano di progetto

#287 fix: versionamento e riferimenti;
  2 - RTB/source/Piano-di-Qualifica.typ
Labels: Piano di qualifica, Hotfix

#289 Diario di bordo 10; closes #268;
  diari-di-bordo/10 Diario di bordo.pdf
Labels: Redazione

#296 Verbali interno 10-03 ed esterno 14-03
  2 - RTB/verbali/esterni/source/2025-03-14_Incontro-presentazione-poc-Ergon.typ
  2 - RTB/verbali/interni/source/2025-03-10_Revisione-pre-RTB.typ
  glossario/source/glossario.typ
Labels: Verbali interni, Verbali esterni

#306 fix: rimosso link ad issue non esistente;
  2 - RTB/verbali/interni/source/2025-03-10_Revisione-pre-RTB.typ
Labels: Hotfix

#326 diario di bordo 13; closes #321;
  diari-di-bordo/13 Diario di bordo.pdf
Labels: Redazione
