Repository CodeHex16/documentazione, pull requests merged in 2025-04, with the labels that each got.

#320 Presentazione in rtb e pb lribon sprint10;
  .github/workflows/compile-documents.yml
  2 - RTB/presentazione/Lettera-di-Presentazione.pdf
  2 - RTB/presentazione/Presentazione-RTB.pdf
  2 - RTB/presentazione/Presentazione-TB.pdf
  2 - RTB/presentazione/source/Lettera-di-Presentazione.typ
  3 - PB/presentazione/source/removeme
Labels: Hotfix

#338 Manuale sviluppatore; closes #299 closes #348;
  3 - PB/source/Manuale-Sviluppatore.typ
Labels: Manuale Sviluppatore

#343 Adr post tb lribon sprint11; closes #302;
  3 - PB/imgs/SwePdQAcEtcBac.png
  3 - PB/imgs/SwePdQBacEac.png
  3 - PB/imgs/SwePdQCO.png
  3 - PB/imgs/SwePdQCvSv.png
  3 - PB/imgs/SwePdQEvPv.png
  3 - PB/imgs/SwePdQGulpease.png
  3 - PB/imgs/SwePdQQMS.png
  3 - PB/imgs/SwePdQRSI.png
  3 - PB/imgs/SwePdQ_NcR.png
  3 - PB/imgs/UML.drawio
  3 - PB/imgs/aggiunta-account-cliente.png
  3 - PB/imgs/aggiunta-faq.png
  3 - PB/imgs/attori.png
  3 - PB/imgs/dark-light-mode.png
  3 - PB/imgs/eliminazione-account-cliente.png
  3 - PB/imgs/eliminazione-chat.png
  3 - PB/imgs/eliminazione-documento-aziendale.png
  3 - PB/imgs/eliminazione-faq.png
  3 - PB/imgs/filtri-statistiche.png
  3 - PB/imgs/impostazioni-fornitore.png
  3 - PB/imgs/inserimento-documenti-aziendali.png
  3 - PB/imgs/inserimento-email-password.png
  3 - PB/imgs/invio-messaggio.png
  3 - PB/imgs/lista-chat.png
  3 - PB/imgs/login-cliente.png
  3 - PB/imgs/login-fornitore.png
  3 - PB/imgs/logout.png
  3 - PB/imgs/modifica-faq.png
  3 - PB/imgs/modifica-password.png
  3 - PB/imgs/modifica-titolo-chat.png
  3 - PB/imgs/recupero-password.png
  3 - PB/imgs/ricezione-valutazione-risposta.png
  3 - PB/imgs/scrittura-messaggio.png
  3 - PB/imgs/selezione-dark-light.png
  3 - PB/imgs/selezione-palette.png
  3 - PB/imgs/sprint1-grafico.png
  3 - PB/imgs/sprint1-tabella.png
  3 - PB/imgs/sprint2-grafico.png
  3 - PB/imgs/sprint2-tabella.png
  3 - PB/imgs/sprint3-grafico.png
  3 - PB/imgs/sprint3-tabella.png
  3 - PB/imgs/sprint4-grafico.png
  3 - PB/imgs/sprint4-tabella.png
  3 - PB/imgs/sprint5-grafico.png
  3 - PB/imgs/sprint5-tabella.png
  3 - PB/imgs/sprint6-grafico.png
  3 - PB/imgs/sprint6-tabella.png
  3 - PB/imgs/sprint7-grafico.png
  3 - PB/imgs/sprint7-tabella.png
  3 - PB/imgs/sprint8-grafico.png
  3 - PB/imgs/sprint8-tabella.png
  3 - PB/imgs/statistiche-filtri-fornitore.png
  3 - PB/imgs/visualizzazione-documenti-aziendali.png
  3 - PB/imgs/visualizzazione-faq.png
  3 - PB/imgs/visualizzazione-scrittura-messaggio.png
  3 - PB/source/Analisi-dei-Requisiti.typ
  glossario/source/glossario.typ
Labels: Redazione, Analisi dei requisiti
